.web.player{
    .playButtonFooter{
        display: block;
        float: right;
        margin-top: 2px;
    }
    .trackControl{
        float: left;
        margin-top: 2px;
    }

    .timelineFooter{
        height: 15px;
        background: white;
        border: solid 1px;
        border-radius: 15px;
        margin: 5px 0 0 0;
        .playhead{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: black;
            margin: -1px 0 0 0;
        }
    }
}