.web.player{
    .playButtonFooter{
        display: block;
        float: right;
        margin-top: 2px;
    }
    .trackControl{
        float: left;
        margin-top: 2px;
    }

    .timelineFooter{
        height: 15px;
        background: white;
        border: solid 1px;
        border-radius: 15px 0 0 15px;
        margin-top: 5px;
        .playhead{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #DF151A;
            margin-top: -15px;
        }
        .timelineFooterExtra{
            width: 15px;
            height: 15px;
            background: white;
            border: solid 1px;
            border-left-width: 0;
            border-radius: 0 50% 50% 0;
            margin-left: 100%;
            margin-top: -1px;
        }
    }
}