body {
    // background-color: lighten(orange, 70%);
    background-image: url('../images/tocadiscos.jpg');
     background-attachment: fixed;
}

h2 {
    text-shadow: 1px 1px 1px #BBBBBB, 3px 3px 9px #FFFFFF;
}

.music.item.list {
    padding-top: @header-height;
    padding-bottom: @footer-height;
    .music.item {
        transition: 500ms;
        // background-color: lighten(#7A528E, 50%);
        background: linear-gradient( to left top, lighten(orange, 30%), lightblue); 
        border: azure solid px;
        margin: 5px;
        ul {
            list-style-type: none;
            //padding-left: 0;
            // border: 2px solid lightblue;
            // padding: 6px;
            // border-radius: 5px;
            span {
                padding: 0px 3px;   
            }
        }
        &:hover {
            // box-shadow: grey 1px 1px;
            opacity: 0.9;
            // background: lighten(#F38630, 25%);
        }
        // border-bottom: solid 1px black;
        margin-top: -1px;
        padding-top: 10px;
        font-family: 'Source Sans Pro';
        //text-align: center;
        .control-buttons {
            float: right;
            margin-right: -42px;
            padding-top: 3px;
            .play-button, .pause-button{
                margin: 0px 3px;
            }
            .pause-button {
                background-color: #F38630;
                border-color: #F38630;
            }
        }
        .other-button {
            margin-top: 2px;
        }
    }
    .currentEditing {
        background: lighten(#F38630, 7%);
    }
    .playingIndicator {
        float: right;
        margin-top: 11px;
        font-size: 20px;
    }
}

.loading {
    .loader {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        //background: rgba(51, 51, 51, 0.4);
        z-index: 2;
    }
}

body {
    overflow-y: scroll;
}

button:disabled {
    visibility: hidden;
}
