.form{
    padding: 10px;
    //background-color: lighten(coral,20%);
    //background: radial-gradient(lighten(#0CAF94, 10%), lighten(#CE577E, 5%));
    background: radial-gradient(lighten(orange, 10%) 2%, lightblue);

    background-color:
    lighten(#0E8889,50%);
    .form-field{
        padding-top: 10px;
        padding-right: 0px;
        .descripcion{
            text-align: right;
            display: block;
            padding-top: 5px;
        }
    }

    .save-button{
        padding-top: 10px;
        button {
            border: black solid 1px;
        }
    }
}
